<%- include("./partials/head") %>
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  const content = document.getElementById("content")
  fetch('/lessons/postgres.md').then(r => r.text()).then((r) => {
    const email = "<%= email %>"
    const dbPassword = "<%= dbPassword %>"
    const markedHTML = marked(r)
    const markedHTMLwithUserData = markedHTML.replace(/@email/gi, email).replace(/@dbPassword/gi,dbPassword)
    content.innerHTML = markedHTMLwithUserData
  })
  const createDb = () => {
    fetch('/api/createDatabase', { method: "POST" }).then(r => r.json()).then((r) => {
      if (r.error) return alert(r.error.message)
      return alert(r.success.message)
    }) 
  }
</script>
