<%- include("./partials/head") %>
<div class="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  const content = document.querySelector(".content")
  fetch('/lessons/postgres.md').then(r => r.text()).then((r) => {
    content.innerHTML = marked(r)
  })
</script>
