<%- include("./partials/head") %>
<div class="content1">
  <h1 id="0-credentials">0 Credentials</h1>
  <pre><code>hostname: 165.227.55.105
username: <%= email %>
password: <%= dbPassword %></code></pre>
</div>
<div class="content2"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  const content2 = document.querySelector(".content2")
  fetch('/lessons/postgres.md').then(r => r.text()).then((r) => {
    content2.innerHTML = marked(r)
  })
</script>
