<%- include("./partials/head") %>
<h3>Learn PostgreSQL</h3>
<div id="introduction">
</div>
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"
  integrity="sha512-TDKKr+IvoqZnPzc3l35hdjpHD0m+b2EC2SrLEgKDRWpxf2rFCxemkgvJ5kfU48ip+Y+m2XVKyOCD85ybtlZDmw=="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/tomorrow.min.css"
  integrity="sha512-r3qr7vMdHYmWUzqC7l4H/W03ikAyiFIQld+B71yAmHhu7wcsnvm/adhikM+FzDxxK9ewznhCVnAm+yYZpPBnSg=="
  crossorigin="anonymous" />
<script>
  hljs.initHighlightingOnLoad()
  const username = "<%= username %>"
  const dbPassword = "<%= dbPassword %>"
  const dbExists = "<%= dbExists %>"

  const credentials = document.createElement("pre")
  credentials.innerHTML = `<code>host: learndatabases.dev 
username: ${username}
password: ${dbPassword}
database: ${username}</code>`

  const introduction = document.getElementById("introduction")
  if (!username) {
    introduction.innerHTML = `
  <p>In this module, you can learn how to use Postgres. Don't have Postgres installed on your local machine yet? Fear not! We can make a Postgres database for you. Simply click on the button below to create your temporary Postgres database. Credentials for your database will appear after it is done being created.</p>
  <p>Temporary database credentials will expire in 5 days. If you want, you can sign up with us and get a non-expiring Postgres database!</p>
<p><button id="createdb_button" class="createdb" onclick="anon_createdb()">Create my database</button></p>
    `
  } else if (!dbExists) {
    introduction.innerHTML = `
  <p>In this module, you can learn how to use Postgres. Don't have Postgres installed on your local machine yet? Fear not! We can make a Postgres database for you. Simply click on the button below to create your Postgres database. Credentials for your database will appear after it is done being created.</p>
<p><button id="createdb_button" class="createdb" onclick="createdb()">Create my database</button></p>
    `
  } else {
    introduction.innerHTML = `
<p>In this module, you can learn how to use Postgres. You have already created a Postgres database on our server. Here are the credentials for your database.</p>
    `
    introduction.append(credentials)
  }

  let disabled
  const createdb = () => {
    if (disabled) return
    disabled = true
    const button = document.getElementById("createdb_button")
    button.classList.add("disabled")
    button.innerText = "Creating..."
    fetch('/api/createDatabase/postgres', { method: "POST" }).then(r => r.json()).then((r) => {
      if (r.error) {
        alert(r.error.message)
        disabled = false
        button.classList.remove("disabled")
        button.innerText = "Create my database"
      } else {
        credentials.innerHTML = `<code>host: learndatabases.dev 
username: ${r.username}
password: ${r.dbPassword}
database: ${r.username}</code>`
        alert(r.success.message)
        button.style.opacity = 0
        setTimeout(() => {
          button.innerText = "Complete!"
          button.style.background = "rgb(10, 170, 75)"
          button.style.opacity = 1
          setTimeout(() => {
            introduction.append(credentials)
          }, 200)
        }, 200)
      }
    })
  }

  const renderTutorial = () => {
    const content = document.getElementById("content")
    fetch(`/lessons/${database}.md`).then(r => r.text()).then((r) => {
      marked.setOptions({
        highlight: function (code) {
          return hljs.highlightAuto(code).value
        }
      })
      const markedHTML = marked(r)
      const markedHTMLwithUserData = markedHTML.replace(/@username/gi, username).replace(/@dbPassword/gi, dbPassword)
      content.innerHTML = markedHTMLwithUserData
    })
  }
  
  renderTutorial()
</script>

<style>
  .createdb {
    display: block;
    margin: auto;
    transition: 0.2s;
  }

  .createdb.disabled {
    cursor: default;
  }
</style>
