<%- include('./partials/head') %>
<main>
    <div class="card">
        <div class="body">
            <h3 class="subtitle">Reset your password</h3>
            <input class="username" placeholder="Username or Email" /><br>
            <button class="submit">Submit</button>
        </div>
        <div class="tale">
            <div>Wanna go back? <a href="/signin">Log In</a></div>
        </div>
    </div>
</main>

<script>
  const submit = document.querySelector('.submit');
  const username = document.querySelector('.username');
  
  const getBody = (value) => {
    const body = {}
    if (value.includes("@")) {
      body.email = value
      return body
    }
    body.username = value
    return body
  }

  submit.addEventListener('click', () => {
    fetch('/api/notifications', {
      method: "POST",
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify(getBody(username.value))
    }).then(r => r.json()).then((r) => {
      if (r.error) {
        alert(r.error.message)
      } else {
        alert(`username: ${r.username}
email: ${r.email}

Check your email and set your password`)
        return location.href = '/signin'
      }
    })
  })
</script>
