<%- include('./partials/head') %>
<main>
    <div class="card">
        <div class="header">
            <h1 class="title">Learn Databases</h1>
        </div>
        <div class="body">
            <input class="dbPassword" placeholder="password">
            <button class="setButton">Set</button>
        </div>
    </div>
</main>
<script>
    const dbPassword = document.querySelector('.dbPassword')
    const setButton = document.querySelector('.setButton')

    setButton.addEventListener('click',()=>{
        fetch('/api/users/:id',{
            method:"PATCH",
            headers:{
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({
                password:dbPassword.value
            })
        }).then(r=>r.json()).then(r=>{
            return location.href = '/databases'
        })
    })
</script>
