<main>
    <div class="card">
        <div class="head">
            <h1 class="title">Learn Databases</h1>
        </div>
        <div class="body">
            <div class="subtitle">Set your password</div>
            <input class="password1" placeholder="create new password" type="password"/><br>
            <input class="password2" placeholder="confirm password" type="password"/>
            <button class="submit">Submit</button>
        </div>
    </div>
</main>

<script>
    const path = window.location.pathname.split('/')
    const token = path.pop()
    console.log('path is', path)
    console.log('toekn is', token)

    const password1 = document.querySelector('.password1')
    const password2 = document.querySelector('.password2')
    const submit = document.querySelector('.submit')

    submit.addEventListener('click', () => {
        if (password1.value !== password2.value) {
            return alert("Passwords do not match. Please check again.")
        }
        fetch('/api/passwordReset', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                token: token,
                password: password1.value
            })
        }).then(r => r.json()).then((r) => {
            if (r.error) return alert(r.error.message)
            fetch('/api/session', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: r.username,
                    password: r.password
                })
            }).then((r) => {
                return location.href = '/setDBPassword'
            }).catch((err) => {
                alert("Password is set but login has failed. Please try again.", err)
            })
        }).catch((err) => {
            alert("Setting password has failed. Please try again.", err)
        })
    })
</script>

