<%- include('./partials/head') %>
<div class="card">
  <div class="body">
    <h3 class="subtitle">Create Account</h3>
    <input
      class="email"
      type="email"
      placeholder="Email Address"
      required
      />
    <input
      class="username"
      type="text"
      placeholder="Username"
      required
      />
    <button class="submit">Create Account</button>
  </div>
  <div class="tale">
    Already have an account? <a href="/signin">Login</a>
  </div>

<script>
  const submit = document.querySelector('.submit');
  const check = document.querySelector('.check');
  const username = document.querySelector('.username')
  const email = document.querySelector('.email')

  submit.addEventListener('click', () => {
    fetch('/api/users', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: username.value.toLowerCase(),
        email: email.value.toLowerCase()
      })
    }).then(r => r.json()).then((res) => {
      if (res.error) {
        const message = res.error.message
        alert(message)
      } else {
        alert("Check your email and set your password")
        return location.href = '/signin'
      }
    })
  })
</script>
