<%- include('./partials/head') %>
<div class="card">
  <div class="body">
    <h3 class="subtitle">Create Account</h3>
    <input
      class="emailInput"
      type="email"
      placeholder="Email Address"
      required
    />
    <button class="submit">Create Account</button>
  </div>
  <div class="tale">Already have an account? <a href="/signin">Login</a></div>

  <script>
    const submit = document.querySelector(".submit");
    const check = document.querySelector(".check");
    const emailInput = document.querySelector(".emailInput");

    submit.addEventListener("click", async () => {
      const res = await fetch("/api/users", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: emailInput.value.toLowerCase(),
        }),
      }).then((r) => r.json());
      alert(
        res.error.message ||
          "Check your email (don't forget to check the spam box!) and set your password"
      );
      location.href = "/signin";
    });
  </script>
</div>
