<%- include('./partials/head') %>
<main>
    <div class="card">
        <div class="head">
            <h1 class="title">Learn Databases</h1>
        </div>
        <div class="body">
            <div class="subtitle">Please log in</div>
            <input class="username" placeholder="username" /><br>
            <input class="password" placeholder="password" type="password"/>
            <button class="submit">Submit</button>
        </div>
        <div class="tale">
            <div>Forgot password? <a href="/resetPassword">Reset Password</a></div>
            <div>Don't have account? <a href="/signup">Sign Up</a></div>
        </div>
    </div>
</main>

<script>
    const username = document.querySelector('.username')
    const password = document.querySelector('.password')
    const submit = document.querySelector('.submit')

    submit.addEventListener('click', () => {
        fetch('/api/session', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username.value.toLowerCase(),
                password: password.value
            })
        }).then(r => r.json()).then((r) => {
            if (r.dbPassword) return location.href = '/setDBPassword' //path name is not decided yet  
            return location.href = '/databases' //path name is not decided yet
        })
    })
</script>

