<%- include('./partials/head') %>
<h1>Learn Databases</h1>

<p>Create Account</p>

<div>
  <input
    class="email"
    type="email"
    placeholder="Email Address"
    required
    />
</div>

<div>
  <input
    class="username"
    type="text"
    placeholder="Username"
    required
    />
</div>

<div>
  <button class="submit">Create Account</button>
</div>

<div>
  Already have an account? <a href="/signin">Login</a>
</div>

<script>
  const submit = document.querySelector('.submit');
  const check = document.querySelector('.check');
  const username = document.querySelector('.username')
  const email = document.querySelector('.email')

  submit.addEventListener('click', () => {
    alert("Check your email and set your password")
    fetch('/api/users', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: username.value.toLowerCase(),
        email: email.value.toLowerCase()
      })
    }).then(r => r.json()).then(() => {
      return location.href = '/signin'
    })
  })
</script>
