<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />

    <link rel="icon" type="image/gif" href="../public/databass.gif" />

    <title>learndatabases.dev</title>
  </head>
  <body>
    <h1>Learn Databases</h1>
    <p><a href="/signin">Login</a> / <a href="/signup">Signup</a></p>

    <h2>Learn and try out different databases!</h2>
    <ul>
      <li>MongoDB, a NoSQL Database. <a href="#">MongoDB</a></li>
      <li>Postgres, an SQL Database. <a href="#">PostGresSQL</a></li>
      <li>Neo4j, a Graph Database. <a href="#">Neo4j</a></li>
    </ul>

    <h1>Your Databases:</h1>

    <h3>Sponsors</h3>
    <ul>
      <li>
        <p><a href="https://c0d3.com">C0d3</a> (They taught us to code)</p>
      </li>
    </ul>

    <p>Want to add a new Database or Sponsor? <a href="#">Contact Us</a></p>

    <p>We collect anonymous analytics using Simple Analytics. View live: <a href="">simpleanalytics.com/learndatabases.dev</a>
    </p>
  </body>
</html>
