<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />

    <link rel="icon" type="image/gif" href="/database.gif">

    <title>learndatabases.dev</title>
  </head>
  <body>
    <header>
    <h1> Learn Databases</h1>
    <p><a href="/signin">Login</a> / <a href="/signup">Signup</a></p>
    </header>

    <h2>Learn and try out different databases!</h2>
    <p>
      You can learn about databases for free without even creating an account. Instructions on how to install and setup your own databases are included in the tutorial.
    </p>
    <p>
    If you are too lazy to install your own databases, you can use our databases directly by supporting us and creating an account for $10 (Currently we don't have payment features yet so you can use for free)
    </p>
    <br>
      <blockquote>
      <p>MongoDB, a NoSQL Database. <a href="#">Learn MongoDB</a></p>
      </blockquote>

      <blockquote>
      <p>Postgres, an SQL Database. <a href="#">Learn PostGresSQL</a></p>
      </blockquote> 

      <blockquote>
      <p>Neo4j, a Graph Database. <a href="#">Learn Neo4j</a></p>
      </blockquote>

    <p style="text-align:center;">Everything we do here is open source. Checkout our github
    <a href="https://github.com/garageScript/databases">Here</a>
    </p>
    <hr>
    <h3>Sponsors</h3>
    <ul>
      <li>
        <p><a href="https://c0d3.com">C0d3</a> (They taught us to code)</p>
      </li>
    </ul>

    <p>Want to add a new Database or Sponsor? <a href="#">Contact Us</a></p>

    <p>We collect anonymous analytics using Simple Analytics. View live: <a href="#">simpleanalytics.com/learndatabases.dev</a></p>

  </body>
</html>
