<!DOCTYPE html>
<%- include('./partials/head') %>
<html lang="en">

<style>
  .db-card {
    border: solid 1px rgb(0,0,0,0);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5pX;
    cursor: pointer;
  }

  .db-card:hover {
    border: solid 1px rgb(10, 70, 120);
  }
</style>

  </head>
  <body>
    <h2>Learn and try out different databases!</h2>
    <p>Instructions on how to install and setup your own databases are included in the tutorial.</p>
    <p>If you don't want to install your own databases, you can use our databases and support us
    by creating an account for $10. (In Progess)</p>

      <main>
        <div class="card">
          <div class="body">
            <blockquote class="db-card postgres">
            <h3 class="db-title">PostgreSQL</h3>
            <div class="db-discription">
A relational database management system emphasizing extensibility and technical standards compliance.
            </div>
           </blockquote>

           <blockquote class="db-card mongodb">
             <h3 class="db-title">MongoDB</h3>
             <div class="db-discription">
An open source database management system that uses a document-oriented database model which supports various forms of data.</div>
          </blockquote>

          <blockquote class="db-card neo4j">
           <h3 class="db-title">Neo4j</h3>
            <div class="db-discription">
A graph database management system that is the most papular graph database and the 22nd most popular database overall.
            </div>
          </blockquote>

            </div>
          <div class="tale"></div>
        </div>
      </main>

    <p style="text-align:center;">Everything we do here is open source. Checkout our github
    <a href="https://github.com/garageScript/databases">Here</a></p>
    <hr>
    <h3>Sponsors</h3>
    <ul>
      <li>
        <p><a href="https://c0d3.com">C0d3</a> (They taught us to code)</p>
      </li>
    </ul>

    <p>Want to add a new Database or Sponsor? <a href="#">Contact Us</a></p>

    <p>We collect anonymous analytics using Simple Analytics. View live: <a href="#">simpleanalytics.com/learndatabases.dev</a></p>

  </body>
</html>
