<!DOCTYPE html>
<%- include('./partials/head') %>
<html lang="en">
  </head>
  <body>
    <h2>Learn and try out different databases!</h2>
    <p>Instructions on how to install and setup your own databases are included in the tutorial.</p>

      <blockquote id="postgres" class="db-card">
        <h4 class="db-title">PostgreSQL</h4>
        <p class="db-discription">A relational database management system emphasizing extensibility and technical standards compliance.</p>
      </blockquote>
      <blockquote id="elastic" class="db-card">
        <h4 class="db-title">Elasticsearch</h4>
        <p class="db-discription">A highly scalable full-text search analytics engine. It allows you to store, search and analyze big volumes of data quickly and in near real time.</p>
      </blockquote>
      <blockquote id="mongodb" class="db-card">
        <h4 class="db-title">MongoDB</h4>
        <p class="db-discription">An open source database management system using a document-oriented database model that supports various forms of data.<p>
      </blockquote>
      <blockquote id="neo4j" class="db-card">
        <h4 class="db-title">Neo4j</h4>
        <p class="db-discription">A graph database management system that is the most popular graph database and the 22nd most popular database overall.</p>
      </blockquote>

    <p style="text-align:center;">Everything we do here is open source. Checkout our github
    <a href="https://github.com/garageScript/databases">Here</a></p>
    <hr>
    <h3>Sponsors</h3>
    <ul>
      <li>
        <p><a href="https://c0d3.com">C0d3</a> (They taught us to code)</p>
      </li>
    </ul>

    <p>Want to add a new Database or Sponsor? <a href="#">Contact Us</a></p>

    <p>We collect anonymous analytics using Simple Analytics. View live: <a href="#">simpleanalytics.com/learndatabases.dev</a></p>

  </body>

  <style>
    .db-card {
      cursor: pointer;
    }
    .db-card:hover {
      border-left: solid 5px rgb(10, 70, 120);
    }
  </style>
  <script>
    document.getElementById('postgres').addEventListener('click', () => {
      location.href = '/postgres'
    })
    document.getElementById('elastic').addEventListener('click', () => {
      location.href = '/elasticsearch'
    })
    document.getElementById('mongodb').addEventListener('click', () => {
      location.href = '/mongodb'
    })
    document.getElementById('neo4j').addEventListener('click', () => {
      location.href = '/neo4j'
    })
  </script>

  <script async defer data-website-id="d367293a-0e30-4ae1-bdce-3651e1b64909" src="https://analytics.learndatabases.dev/umami.js"></script>

</html>
