<!DOCTYPE html>
<%- include('./partials/head') %>
<html lang="en">
  </head>
  <body>
    <h2>Learn and try out different databases!</h2>
    <p>Instructions on how to install and setup your own databases are included in the tutorial.</p>

      <blockquote id="postgres" class="db-card umami--click--postgres-page">
        <h4 class="db-title">PostgreSQL</h4>
        <p class="db-discription">A relational database management system emphasizing extensibility and technical standards compliance.</p>
      </blockquote>
      <blockquote id="elastic" class="db-card umami--click--elasticsearch-page">
        <h4 class="db-title">Elasticsearch</h4>
        <p class="db-discription">A highly scalable full-text search analytics engine. It allows you to store, search and analyze big volumes of data quickly and in near real time.</p>
      </blockquote>
      <blockquote id="arango" class="db-card umami--click--arango-button">
        <h4 class="db-title">Arango</h4>
        <p class="db-discription">A multi-model database. Whether you want to store data in tables or graphs is up to you!</p>
      </blockquote>
      <blockquote id="ignite" class="db-card umami--click--ignite-button">
        <h4 class="db-title">Apache Ignite</h4>
        <p class="db-discription">In-memory database</p>
      </blockquote
      <blockquote id="mongodb" class="db-card darkenCards umami--click--mongodb-button">
        <h4 class="db-title">MongoDB (coming next sprint!)</h4>
        <p class="db-discription">An open source database management system using a document-oriented database model that supports various forms of data.<p>
			</blockquote>

    <p style="text-align:center;">Everything we do here is open source. Checkout our github
    <a href="https://github.com/garageScript/databases" class="umami--click--github-anchor">Here</a></p>
    <hr>
    <h3>Sponsors</h3>
    <ul>
      <li>
        <p><a href="https://c0d3.com" class="umami--click--c0d3-anchor">C0d3</a> (They taught us to code)</p>
      </li>
    </ul>

    <p>Want to add a new Database or Sponsor? <a href="https://github.com/garageScript/databases/issues" class="umami--click--contact-us-anchor">Contact Us</a></p>
    <p>We collect anonymous analytics using <a href="https://umami.is/">Umami</a>.<br>View live: <a href="https://analytics.learndatabases.dev/share/9DRDvLQJ/LearnDatabases">analytics.learndatabases.dev</a></p>

    <div id="banner">We just launched!<br><a href="https://news.ycombinator.com/item?id=24554675" target="_blank" class="umami--click--discuss-anchor">Discuss on HN</a></div>
  </body>

  <style>
    .db-card {
      cursor: pointer;
    }
    .darkenCards {
      opacity: 60%;
    }
    .db-card:hover {
      border-left: solid 5px rgb(10, 70, 120);
    }
    #banner {
      position: fixed;
      background-color: rgb(170, 40, 10);
      box-shadow: 10px 10px rgba(100,100,100,0.5);
      right: 4rem;
      top: 4rem;
      padding: 1rem;
    }
    #banner > * {
      color: white;
    }
  </style>
  <script>
    document.getElementById('postgres').addEventListener('click', () => {
      setTimeout(() => {
        location.href = '/tutorial/Postgres'
      }, 10)
    })
    document.getElementById('elastic').addEventListener('click', () => {
      setTimeout(() => {
        location.href = '/tutorial/Elasticsearch'
      }, 10)
    })
    // document.getElementById('mongodb').addEventListener('click', () => {
    //   location.href = '/mongodb'
    // })
    document.getElementById('arango').addEventListener('click', () => {
      location.href = '/tutorial/Arango'
    })
    document.getElementById('ignite').addEventListener('click', () => {
      location.href = '/tutorial/Ignite'
		})
  </script>

  <script async defer data-website-id="d367293a-0e30-4ae1-bdce-3651e1b64909" src="https://analytics.learndatabases.dev/umami.js"></script>

</html>
